* {
    margin: 0px;
    padding: 0px;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: beige !important;
}